.AppFooter {
    bottom: 0;
    width: 100%;
    min-height: 60px;
    background: darkblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    flex: 0 0 auto;
}
.icons {
    color: white;
    width: 40px;
    height: 40px;
    opacity: 0.6;
    transition: 0.3s;
}
.icons:hover {
    opacity: 1;
    width: 40px;
    height: 40px;
    color: azure;
}
